.weatherforecast {
    position: absolute;

    right: 50px;

    top: 400px;

    background-color: rgba(255, 255, 255, 0.8);

    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    padding: 20px;

    width: 1000px;

    font-family: 'Arial', sans-serif;

    color: #333;

    text-align: left;
}