/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f4ed;
    color: #333;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('E:\React native course\cropcast-app\src\Images\background.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}

/* Container for the entire Home Page */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;

}

.home-container .side-component {
    display: flex;
    flex-direction: row;
}

.home-container .side-component .prediction {
    margin-top: 2rem;
    padding: 1.5rem;
    margin-left: 2rem;
    background-color: #e5ebd8;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
}

.header {
    margin-top: 1rem;
    padding: 1.5rem;
    margin-left: 2rem;
    background-color: #e5ebd8;
    border-radius: 8px;
    width: 100%;
    max-width: 700px;

    justify-content: center;
}

/* Header Styling */
.header h1 {
    font-size: 2.5rem;
    color: #4a7c59;
    margin-bottom: 0.5rem;
}

.header p {
    font-size: 1.2rem;
    color: #7c9b87;
}

/* Search Input and Button */
.search-container {
    margin-top: 2rem;
    display: flex;
}

.crop-input {
    padding: 0.8rem;
    width: 200px;
    border: 1px solid #4a7c59;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    margin-right: 0.5rem;
}

.search-button {
    padding: 0.8rem 1.5rem;
    background-color: #4a7c59;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #365942;
}

/* Weather Info Section */
.weather-info {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #e5ebd8;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin-left: 1.5rem;
}

.weather-info h2 {
    color: #4a7c59;
    margin-bottom: 1rem;
}

.weather-info p {
    font-size: 1rem;
    margin: 0.5rem 0;
}